*~
eclipsews
eclipse
.settings
*/tmp/*
.emacs*
.project
.classpath
*/modules
*/bin
*/test-result
test-result
cobertura.ser
productivity/wb.log
modules
.emacs.desktop*
bin
*.bak
\#*
productivity/data/elasticsearch
productivity/.checkstyle
/productivity/lib/hibernate-search-3.4.0.Final-dist.zip
/productivity/lib/hibernate-search-3.4.0.Final/
/productivity/models.Activity/
