*~
eclipsews
eclipse
.settings
*/tmp/*
.emacs*
.project
.classpath
*/modules
*/bin
*/test-result
test-result
cobertura.ser
productivity/wb.log
modules
.emacs.desktop*
bin
*.bak
\#*
productivity/data/elasticsearch
productivity/.checkstyle
