*~
eclipsews
eclipse
.settings
*/tmp/*
.emacs*
.project
.classpath
*/modules
*/bin
*/test-result
test-result
cobertura.ser
productivity/wb.log
modules
.emacs.desktop*
bin
*.bak
\#*
productivity/data/elasticsearch
productivity/.checkstyle
/productivity/lib/hibernate-search-3.4.0.Final-dist.zip
/productivity/lib/hibernate-search-3.4.0.Final/
/productivity/models.Activity/
/productivity/lib/spring-ldap-1.3.1.RELEASE/
/productivity/lib/spring-ldap-1.3.1.RELEASE-with-dependencies.zip
/productivity/lib/aopalliance-1.0.jar
/productivity/lib/commons-pool-1.5.4.jar
/productivity/lib/geronimo-jta_1.1_spec-1.1.jar
/productivity/lib/hibernate-search-analyzers-3.4.0.Final.jar
/productivity/lib/jgroups-2.8.0.GA.jar
/productivity/lib/jms-1.1.jar
/productivity/lib/jsr250-api-1.0.jar
/productivity/lib/ldapbp-1.0.jar
/productivity/lib/lucene-highlighter-3.1.0.jar
/productivity/lib/lucene-memory-3.1.0.jar
/productivity/lib/lucene-misc-3.1.0.jar
/productivity/lib/lucene-smartcn-3.1.0.jar
/productivity/lib/lucene-spatial-3.1.0.jar
/productivity/lib/lucene-spellchecker-3.1.0.jar
/productivity/lib/lucene-stempel-3.1.0.jar
/productivity/lib/solr-analysis-extras-3.1.0.jar
/productivity/lib/solr-commons-csv-3.1.0.jar
/productivity/lib/solr-core-3.1.0.jar
/productivity/lib/solr-solrj-3.1.0.jar
/productivity/lib/spring-aop-3.0.5.RELEASE.jar
/productivity/lib/spring-asm-3.0.5.RELEASE.jar
/productivity/lib/spring-beans-3.0.5.RELEASE.jar
/productivity/lib/spring-context-3.0.5.RELEASE.jar
/productivity/lib/spring-core-3.0.5.RELEASE.jar
/productivity/lib/spring-expression-3.0.5.RELEASE.jar
/productivity/lib/spring-jdbc-3.0.5.RELEASE.jar
/productivity/lib/spring-ldap-core-1.3.1.RELEASE.jar
/productivity/lib/spring-orm-3.0.5.RELEASE.jar
/productivity/lib/spring-tx-3.0.5.RELEASE.jar
/productivity/logs/system.out
