
*{
Parameters:
   portlets - table of portlets to display
   columns - number of columns
   widhts - table of widhts in percents

If the `widths` table isn't defined all columns get equal sizes.
If the `widths` table is shorter than indicated in `columns`, then
the rest of columns is equalized.
The sum of widths must not exceed 100.

A portlet is an object with the following properties:
  - column number
  - state (folded, unfolded)
  - template name (relative to the 'app/vievs/Application' path)
The order of placement of the portlets is equal to the order of
their entries in the table.
}*

#{set 'moreStyles'}
  #{get 'moreStyles'/}
  <link rel="stylesheet" href="@{'/public/stylesheets/portlets.scss'}" type="text/css" media="screen, projection" title="no title" charset="utf-8">
#{/set}

%{
  def columns = _columns != null ? _columns : 1
  def widths = _widths != null ? _widths : []
  if(_widths == null) {
      for(i = 0; i < columns; i++)
          widths << 100/columns
  }
}%

<table width="100%" cellspacing="0" cellpadding="0" class=".column-table">
<tbody><tr>
#{list widths, as: 'width' }
  #{portlets.column width: width }
   %{ while( ! _portlets.isEmpty() ) { }%
   %{     portlet = _portlets.remove(0) }%
   %{     if( portlet == null) break }%
      #{portlet name: portlet.name }
         #{include 'Application/' + portlet.tmpl + '.html' /}
      #{/portlet}
   %{ } }%
  #{/portlets.column}
#{/list}
</tr></tbody>
</table>
