body {
  background-color:#F7F7F7;
  color:#333333;
  font:normal normal normal 12px/1.4 arial, FreeSans, Helvetica, sans-serif;
  font-size:11pt;
}

.even {
	background-color: #e0e0e0;
}

.odd {
	background-color: #F0F0E0;
}

table.border {
	border: thin solid grey;
	background-color: snow;
}

#indextable thead {
	background-color: #E0E0F0;
}

a, a:VISITED {
	color: #4282c4;
}

a {
	text-decoration: none;
}

a:HOVER {
	text-decoration: underline;
}

#header {
	background-color: #ddd;
}

#header table {
    margin: 0;
}

.right-aligned {
    text-align: right;
}

#header a {
	color: #4282c4;
	font-style: normal;
	text-decoration: none;
}

#header a:HOVER {
	text-decoration: underline;
}

#header ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#header li {
	display: inline-table;
	padding-right: 2em;
}

#footer {
	background-color: #ddd;
}
