*{
	Show-Edit-Delete icons to be placed into a list of records for every item
}*
<a href="@{show(_arg.id)}"><img src="/public/images/simplicio/32x32/file_search.png" alt="Show" title="show" height="16" /></a>
<a href="@{edit(_arg.id)}"><img src="/public/images/simplicio/32x32/file_edit.png" alt="Edit" title="edit" height="16" /></a>
<a href="@{delete(_arg.id)}" onclick="if (!confirm('Are you sure you want to delete this record?')) return false;">
	<img src="/public/images/simplicio/32x32/file_delete.png" alt="Delete" title="delete" height="16" />
</a>
