#{extends 'main.html' /}
#{set title:'Dashboard for ' + session.username /}
#{jqui /}

#{set 'moreStyles'}
  #{get 'moreStyles'/}
  <link rel="stylesheet" href="@{'/public/stylesheets/Timeglider.css'}" type="text/css" media="screen, projection" title="no title" charset="utf-8">
  <link rel="stylesheet" href="@{'/public/stylesheets/jquery-ui-timepicker-addon.css'}" type="text/css" media="screen, projection" title="no title" charset="utf-8">

  <style type="text/css" media="screen">
#tl-pres {
    margin:32px;
    height:500px;
}
.table-load-indicator {  text-align: center; }
.table-data-row { display: none; }
  </style>
#{/set}

#{set 'moreScripts'}
  #{get 'moreScripts'/}
  #{script "jquery-ui-timepicker-addon.js" /}
  #{script "timeglider.min.js" /}
  #{script "jquery.tmpl.min.js" /}
  #{script "knockout-latest.debug.js" /}
  #{script "knockout.mapping-latest.debug.js" /}
  #{script "portlets.js" /}
#{/set}

%{
    stats = [ state: "unfolded", name: "Statistics", tmpl: "stats" ];
    timeline = [ state: "folded", name: "Timeline", tmpl: "timeline"];
}%

#{portlets.layout columns: 1, widths: [ 100 ], portlets: [ stats, timeline ] /}
